# Android Studio / IntelliJ

.idea/
*.iml

# Gradle

.gradle/
build/
**/build/
gradle-app.setting
gradle/gradle-daemon-jvm.properties

# Kotlin

.kotlin/

# Local configuration

local.properties

# VS Code

.vscode/

# OS

.DS_Store
Thumbs.db

# Temporary files

*.tmp
*.log

# Generated / accidental files

FAILURE
app/build2/
